[submodule "AVFoundationPlus"]
	path = AVFoundationPlus
	url = https://github.com/McZonk/AVFoundationPlus.git
[submodule "AssetsLibraryPlus"]
	path = AssetsLibraryPlus
	url = https://github.com/McZonk/AssetsLibraryPlus.git
[submodule "CoreGraphicsPlus"]
	path = CoreGraphicsPlus
	url = https://github.com/McZonk/CoreGraphicsPlus.git
[submodule "CoreVideoPlus"]
	path = CoreVideoPlus
	url = https://github.com/McZonk/CoreVideoPlus.git
[submodule "NSFoundationPlus"]
	path = NSFoundationPlus
	url = https://github.com/McZonk/NSFoundationPlus.git
[submodule "ObjectiveCPlus"]
	path = ObjectiveCPlus
	url = https://github.com/McZonk/ObjectiveCPlus.git
[submodule "OpenGLPlus"]
	path = OpenGLPlus
	url = https://github.com/McZonk/OpenGLPlus.git
[submodule "SpriteKitPlus"]
	path = SpriteKitPlus
	url = https://github.com/McZonk/SpriteKitPlus.git
[submodule "UIKitPlus"]
	path = UIKitPlus
	url = https://github.com/McZonk/UIKitPlus.git
[submodule "UIKitPlusLocalization"]
	path = UIKitPlusLocalization
	url = https://github.com/McZonk/UIKitPlusLocalization.git
[submodule "CoreMediaPlus"]
	path = CoreMediaPlus
	url = https://mczonk@github.com/McZonk/CoreMediaPlus.git
